---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

const blogposts = await getCollection('blogposts');
---

<section class="blog-card">
  <div class="blog-card-content">
    {blogposts.map (post => (
      <a href={`/blog/${post.slug}`} class="blog-card-link">
        <Image  width={400}  src = {post.data.cover} alt=""/>
      </a>
      

    ))}
  </div>
</section>

<style>

</style>