---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

const bookposts = await getCollection('bookposts');

const { post } = Astro.props;
---

<div class="w-full">
  <a href={`/book/${post.slug}`} class="block h-full w-full overflow-hidden rounded-xl transition-shadow duration-150
      ease-in-out hover:ring-2 hover:ring-offset-4 hover:ring-green-400 hover:ring-offset-[#111]">
    <div class="w-full aspect-[2/3] flex items-center justify-center bg-gray-100 rounded-xl overflow-hidden">
      <Image 
        width={156} 
        height={249.6} 
        src={post.data.cover} 
        alt={`Book cover${post.data.title ? ` for ${post.data.title}` : ''}` || 'Book cover'}
        class="w-full h-full object-contain"
      />
    </div>
  </a>
</div>

