---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

const bookposts = await getCollection('bookposts');

const { post } = Astro.props;
---

<section class="blog-card">
  <div class="book-card-content">
    <a href={`/book/${post.slug}`} class="book-card-link">
      <Image  width={300}  src = {post.data.cover} alt=""/>
    </a>
  </div>
</section>

