<div class="flex flex-col-reverse sm:flex-row sm:items-start sm:justify-between">
   <div class="flex flex-col sm:max-w-[60%] relative">
    <h2 class="pt-6 text-center text-3xl font-bold sm:text-left">
      Tucker Here! 👋
    </h2>
    <div class="my-3"></div>
    <p class="hero-text">I'm a software and systems engineer. I 
      <a class="hero-write-link" href=/blog>write</a> 
      and create 
      <a class="hero-write-link" href=youtube.com/nichelessytb>videos</a>
      about what I 
      <a class="hero-write-link" href=/books>videos</a> 
      and the things I build.
    </p>
    <div class="h-12 mt-0"></div>
   
  </div>
  <div class="w-48 sm:w-56 mb-6 sm:mb-0 mx-auto sm:mx-0">
    <img src="src/assets/tucker.jpeg" alt="Handsome dude" class="rounded-full" width="588" height="783" loading="lazy" decoding="async">
  </div>
  <div class="my-3"></div>
</div>
<div class="my-20"></div>

