<div class="hero-container">
  <h2 class="hero-header">
    Tucker Here! 👋
  </h2>
  <div class="hero-spacer"></div>
  <p class="hero-text">I'm a software and systems engineer. I 
    <a class="hero-write-link" href=/blog>write</a> 
    and create 
    <a class="hero-write-link" href=youtube.com/nichelessytb>videos</a>
     about what I 
     <a class="hero-write-link" href=/books>videos</a> 
     and the things I build.
  </p>
  <div class="hero-img-container">
    <img class="hero-img" src="TODO" alt="A handsome man (me)" width="783" loading="lazy" decoding="async" />
  </div>
  <div class="hero-links-container">
    <a href="https://x.com/tsnowsev" class="hero-twitter"></a>
    <a href="youtube.com/nichelessytb" class="hero-youtube"></a>
    <a href="https://github.com/t7snow" class=""></a>
    <a href="https://www.linkedin.com/in/tucker-snow-8672ab20a/" class="hero-linkedin"></a>
    <a href="tuckerwilliamsnow@gmail.com" class="hero-email"></a>
  </div>
</div>

