---
import { getCollection, getEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const bookPosts = await getCollection('bookposts');
  return bookPosts.map((post) => ({
    params: { slug: post.slug }, 
  }));
}

const { slug } = Astro.params;
const post = await getEntry('bookposts', slug); 
const { Content } = await post.render(); 
---


<Layout>
  <main class="flex flex-col justify-center">
    <article class="flex flex-col items-start justify-center w-full max-w-2xl mx-auto mb-16">
      <div class="prose prose-2xl overflow-visible relative">
        <Content />
      </div>
    </article>
  </main>
</Layout>
