<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width", initial-scale=1>
		
	</head>

	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/blog">Blog</a>
			<a href="/books">Books</a>
		</nav>
		<slot></slot>
	</body>
</html>